/*colores: #201a8f
#f3fbff
tipografia: Poiret Uno*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Poiret One", sans-serif !important;
    font-weight: bold;
}

/*--------------------encabezado*/

/* header{
    background-color: #201a8f;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;/*--quieto el nav*
    top: 0px ;
} */

.mi-clase{
    background-color: #201a8f;
}

.mi-clase a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo{
    width: 170px !important;
    margin-top: 15px !important;
}


/*--------------------main (cuerpo)*/
body{
    background-color:#f3fbff ;
    font-family: "Poiret One", sans-serif;
}

.mi-menu{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
    padding: 20px;
    height: 100%;
    flex-wrap: wrap;
    font-size: 1em;
    text-align: center;
}

.titulo{
    text-align: center;
    margin-top: 20px;
}

.mi-compra{
    width: 100%;
    padding: 5%;
}   

.iconos{
    position: relative;
    width:300px ;
    display: block;
}

.contenedor{
    text-align: end;
    width: 80%;
    margin-top: 16px;  
    padding: 16px 20px;

}

section img{
    width: 200px;
}

main{
    font-family: "Poiret One", sans-serif;
    margin: 10px;
}


/*--------------------pie de página*/
footer{
    background-color: #201a8f;
    color: white;
    text-align: center;
    margin-top: 10px;
}