@use "variables" as *;


body {
  background-color: $background-color;
  font-family: $font-family-base;
}

.mi-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  padding: 20px;
  height: 100%;
  flex-wrap: wrap;
  font-size: 1em;
  text-align: center;
}

.titulo {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.mi-compra {
  width: 100%;
  padding: 5%;
}

.iconos {
  position: relative;
  width: clamp(150px, 80%, 300px);
  display: block;
  margin: 0 auto;
}

.slide-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translateY(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.carousel-item {
  &.active .slide-contenedor {
    animation: zoomIn 1s ease-out;
  }
}

.contenedor {
  text-align: center;
  width: 80%;
  margin: 16px auto 0;
  padding: 16px 20px;
}


section {
  img {
    max-width: 100%;
    height: auto;
  }
}

main {
  font-family: $font-family-base;
  margin: 10px;
}
